body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.63;
  margin: 0 auto;
}
h1{
    color: aqua;
    font-weight: 400;
}
.banner{
    width: 100%;
    height: auto;
    object-fit: cover;
}